In [22]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [9]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3,]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [11]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [12]:
inside

[1, 2, 3, 1, 2, 3]

In [14]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [15]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [23]:
df = pd.DataFrame(randn(6,2), hier_index, ['A','B'])

In [24]:
df

             A         B
G1 1 -1.468706 -2.001623
   2 -0.793780  0.688697
   3 -0.097501 -1.222164
G2 1  0.709204  0.437456
   2 -0.493907 -0.216717
   3 -0.259546 -1.032613

In [25]:
df.loc['G1']

          A         B
1 -1.468706 -2.001623
2 -0.793780  0.688697
3 -0.097501 -1.222164

In [26]:
df.loc['G1'].loc[1]

A   -1.468706
B   -2.001623
Name: 1, dtype: float64

In [27]:
df.index.names

FrozenList([None, None])

In [30]:
df.index.names = ['Groups', 'Num']

In [31]:
df

                   A         B
Groups Num
G1     1   -1.468706 -2.001623
       2   -0.793780  0.688697
       3   -0.097501 -1.222164
G2     1    0.709204  0.437456
       2   -0.493907 -0.216717
       3   -0.259546 -1.032613

In [33]:
df.loc['G2'].loc[2]['B']

-0.216716778762725

In [35]:
df.loc['G1']

            A         B
Num
1   -1.468706 -2.001623
2   -0.793780  0.688697
3   -0.097501 -1.222164

In [36]:
df.xs('G1')

            A         B
Num
1   -1.468706 -2.001623
2   -0.793780  0.688697
3   -0.097501 -1.222164

In [38]:
df.xs(1, level='Num')

               A         B
Groups
G1     -1.468706 -2.001623
G2      0.709204  0.437456